body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 380px;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
}

p {
    text-align: center;
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

small {
    color: #777;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

.checkbox-container {
  display: flex;
  justify-content: start;
  gap: 80px;
  margin: 10px 0 20px;
  grid-template-columns: repeat(2. 2fr);
}

.checkbox-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-column label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.terms {
    margin-bottom: 20px;
    font-size: 14px;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #333;
}

@media (max-width: 480px) {
    body {
        height: auto;
        padding: 20px;
    }

    .form-container {
        width: 100%;
        padding: 20px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    }

    .input-row {
        flex-direction: column;
        gap: 10px;
    }

    .checkbox-group {
        grid-template-columns: 1fr;
    }

    .btn {
        font-size: 15px;
        padding: 10px;
    }
}
