body {
     font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
     line-height: 1.5;
     margin: 0;
     background: #f7f7f8;
     color: #222;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0.75rem 1rem;
}

section {
    background: white;
    border: 1px rgb(244, 235, 245);
    padding: 1rem 1.5rem;
}