/* Atur font dan latar belakang */
.body {
    background-image: url(img/hengker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Header */
.header {
    background-color: rgba(7, 7, 134, 0.85);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px ;
    text-align: center;
}

.footer {
    background-color: rgba(7, 7, 134, 0.85);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px ;
    text-align: center;    
}

/* Card utama */
.card {
    background-color: rgba(255, 255, 255, 0.85);
    margin: 40px auto;
    width: 80%;
    max-width: 900px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

h2 {
    color: rgb(89, 6, 167);
    width: 80%;
    max-width: 900px;
    padding: 30px;
}



.gambar {
    display: block;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.data_table {
    width: 100%;
    border-collapse: collapse;
}

th {
        border: 1px solid;
    border-color: blueviolet; 
}

.table_title{
    text-align: center;
    margin: 40px auto;
    border: 1px solid;
    border-color: blueviolet;
    color: white;
    background-color: blueviolet;
}



