body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    padding: 20px;
    text-align: justify;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgb(247, 225, 241);
    border-radius: 8px ;
}

h1, h2 {
    margin-top: 20px;
}

.box {
    width: 200px;
    padding: 10px;
    border: 4px solid rgb(173, 97, 173);
    margin: 10px 0;
    background: rgb(224, 192, 245);
    
}

.float {
    float: right;
    width: 240px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}